#----------------------------------------------------------
# LangSmith
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=your_langsmith_api_key
LANGSMITH_PROJECT=your_langsmith_project
#----------------------------------------------------------


#----------------------------------------------------------
# OpenRouter
OPENROUTER_API_KEY=your_openrouter_api_key
#----------------------------------------------------------

